.about {
    background-image: url("../img/about_background.png");
    background-size: cover;
}

.span {
    color: var(--context-text-color);
}

.span_line_below {
    color: var(--white-gray);
}

.drones__aviable {
    display: flex;
}
  
.drone__models {
    display: flex;
}

.clients {
    display:flex;
}