
.green_line {
	height: 3px;
	background-color: #0ad19d;
	border-radius: 2px;
  }
  

.gray_line {
	margin-left: 15px;
	height: 3px;
	background-color: #144d3e;
	border-radius: 2px;
}

.about {
	background-image: url(../img/background_about.png);
	background-position: center;
	position: relative;
}
.about_container {
	min-height: 500px;
	position: relative;
	z-index: 2;
} 

.about::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(28, 29, 30, 0.66);
	z-index: 1;
}


.about_title {
	font-family: "Fjalla One", sans-serif;
	font-size: 40px;
	line-height: 52px;
	text-transform: uppercase;
}

.about p {
	margin-top: 25px;
	font-family: Lato, sans-serif;
	font-size: 18px;
	line-height: 28.8px;

}
.about span {
	color: rgb(197, 197, 197);
	font-family: Lato, sans-serif;
	font-size: 16px;
	line-height: 27.2px;
}  
.table_statistic {
	min-width: 350px;	
}

.stat_col_green {
	font-family: "Fjalla One", sans-serif;
	font-size: 30px;
	color: rgb(10, 209, 157);
	vertical-align: baseline;
	letter-spacing: 0.81px;
	line-height: 48px;
}

.stat_col_white {
	font-family: "Fjalla One", sans-serif;
	font-size: 25px;
	line-height: 40px;
	vertical-align: baseline;
	width: 180px;	
}

