.text__drones-needs{
    width:50%;
    float:left;
}
.girls-with-drone{
    width:50%;
    float:right;
}
p{
    color: #1c1d1e;
    font-size: 40px;
}
.drone-useful p, .striker-drones-best p{
    font-size:18px;
    color:#1c1d1e;
}