.drones-needs {
    display: flex;
    height: 746px;
    width:100%;
    font-family: Lato, sans-serif;
    font-weight: 400;
}
.text__drones-needs {
    padding: 120px 116px 45px 61px;
    display: grid;
    grid-template-columns: 470px;
    grid-template-rows: 94px 49px 163px 162px 50px;
}
.pre-title__text__drones-needs {
    font-size: 34px;
    color: var(--black-gray);
    font-family: Fjalla, sans-serif;
    letter-spacing: 0.048px;
}
.button-drone {
    background-color: var(--red-pink);
    border-width: 0px;
    height: 50px;
    width: 179px;
    color: var(--context-text-color);
    font-weight: 700;
    font-size: 12px;
    transition-duration: 0.3s;
}
.button-drone:hover{
    background-color: var(--light-green);
}
.drone-useful {
    width: 463px;
    font-size: 18px;
    color: var(--black-gray);
}
.striker-drones-best {
    width: 467px;
    font-size: 16;
    color: var(--gray);
}
.girls-and-drone {
    width: 50%;
    object-fit: cover;
}
.align-center-drones-needs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-gray);
    width: 50%;
}