.drones-needs{
    display: flex;
    flex-direction: row;
}
.text__drones-needs{
    background-color: #f0f0f0;
}
.pre-title__text__drones-needs{
    font-size: 40px;
    color:#1c1d1e;
    width: 405px;
}
.text__drones-needs{
    display: grid;
    grid-template-columns: ;
}