
.faq{
        max-width: 100%;
        background-image: url(../img/faq-background.webp);
        background-attachment: fixed;
    }

    .align-block {
        max-width: 100%;
        display: grid;
        justify-content: center;
    }

    .faq-title {
        display: grid;
        grid-template-columns: 488px;
        grid-template-rows: 76px 0px 112px 400px;
        text-align: center;
    }

  .faq__title-text{
    width: 162px;
    margin: auto;
    color: var(--context-text-color);
    font-size: 34px;
    font-family: Fjalla One, sans-serif;
}

.faq__title-description{
    width: 488px;
    margin: auto;
    color: var(--context-text-color);
    font-family: Lato, sans-serif;
}