.faq {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 9px 0px;
    gap: 45px;

    position: absolute;
    width: 390px;
    height: 2064.96px;
    left: calc(50% - 390px/2);
    top: 90px;
}
