.footer {
	background-color: black;
	color: white;
	font: inherit;
	text-align: center;
	font-weight: 500;
}

.footer_table {
	padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_logo {
	width: 151px;
	margin: 25px;
}

.footer_table ul {
  list-style-type: none;
}

@media (min-width: 500px) {
	.footer_table {
		flex-direction: row;
		justify-content: flex-start;
	}
}
