.footer {
	background-color: var(--main-text-color);
	color: var(--white-gray);
	font: inherit;
	text-align: center;
	font-weight: 500;
	font-family: Lato;
	font-size: 14px;


}

.footer_table {
	padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


.footer_logo img {
	width: 151px;
	margin: 25px;
}

.footer_table ul {
  list-style-type: none;
  padding: 0 0 0 0;
  flex: auto;
}

.footer_table li {
	padding: 5px;
  }

@media (min-width: 400px) {
	.footer_table {
		flex-direction: row;
		justify-content: flex-start;
	}
}

@media (min-width: 673px) {
	.footer_table ul {
		display: inline-flex;
		justify-content: flex-end;
		margin-bottom: 0;
	}
	.footer_logo img {
		margin: 0;
	}

}

.footer_divider {
	height: 1px;
	width: auto;
	background-color: var(--white-gray);
	opacity: .2;
	content: "";
	margin-left: 10px;
	margin-right: 10px;
	
}

.footer_bottom {
	display: grid;
	padding: 15px 32px;
	height: 62px;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 350px) {
	.footer_bottom {
		height: 40px;	
	}
}

@media (min-width: 980px) {
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer_table,
	.footer_bottom {
		width: 980px;	
	}
}

.footer_bottom_col1 {
	margin: -5px -10px 0;
	justify-self: start;
	align-self: center;
}

.footer_bottom_col2 {
	margin: -5px -10px 0;
}

.footer_bottom_col3 {
	margin: -5px -10px 0;
	justify-self: end;
	align-self: center;
	padding-right: 5px;
}

.footer hr {
	margin: 0 10px;
	color: var(--white-gray);
}

.footer a {
	text-decoration: none; 
	color: var(--white-gray); 
	transition: color 0.1s ease-in-out; 
}

.footer a:hover {
	color: var(--light-green); 
}