.footer {
	background-color: black;
	color: #C5C5C5;
	font: inherit;
	text-align: center;
	font-weight: 500;
	font-family: Lato;
	font-size: 14px;
}

.footer_table {
	padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}


.footer_logo img {
	width: 151px;
	margin: 25px;
}

.footer_table ul {
  list-style-type: none;
  padding: 0 0 0 0;
  flex: auto;
}

.footer_table li {
	padding: 5px;
  }

@media (min-width: 400px) {
	.footer_table {
		flex-direction: row;
		justify-content: flex-start;
	}
}

@media (min-width: 570px) {
	.footer_table ul {
		display: inline-flex;
		justify-content: flex-end;
	}
	.footer_logo img {
		margin: 0;
	}

}

.footer_divider {
	height: 1px;
	width: auto;
	background-color: #C5C5C5;
	opacity: .2;
	content: "";
	margin-left: 10px;
	margin-right: 10px;
	
}

.footer_bottom {
	display: grid;
	padding: 15px 32px;
	height: 62px;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 350px) {
	.footer_bottom {
		height: 24px;	
	}
}


.footer_bottom_col1 {
	margin: -5px -10px 0;
	justify-self: start;
	align-self: center;
}

.footer_bottom_col2 {
	margin: -5px -10px 0;
}

.footer_bottom_col3 {
	margin: -5px -10px 0;
	justify-self: end;
	align-self: center;
}

.footer hr {
	margin: 0 10px;
	color: #C5C5C5;
}