.gallery__container {
	margin: 30px;
    color: var(--main-text-color);
    align-content: center;
}

.gallery_images_item {
    display: flex;
    margin: 15px;
    justify-content: space-around;
    flex-direction: row;

}

.gallery_images_item img {
	width: 50%;
	height: auto;
    margin: 15px;
}

@media (max-width: 500px) {
    .gallery_images_item {
        flex-direction: column;
        align-items: center;
    }

    .gallery_images_item img {
        width: 100%;
    }
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
    margin: 0 auto;
    width: 1000px;
}
  
  /* The width of each slide */
.slick-slide {
    width: 350px;
}
  
  /* Color of the arrows */
.slick-next::before, .slick-prev::before {
    color: blue;
}