
.animated-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 35px;
}

.animated-carousel__inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.animated-carousel .product-card {
  flex: 0 0 100%;
  padding: 15px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .animated-carousel .product-card {
    flex: 0 0 50%;
  }
}


.animated-carousel .carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:#0ad19d;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}

.animated-carousel .carousel__button--prev {
  left: 0;
}

.animated-carousel .carousel__button--next {
  right: 0;
}
