.after-title-text{
    width: 488px;
    margin:auto;
    color: white;
}
.title-our-drones{
    width: 100px;
    margin: auto;
    color: white;
}
.our-drones-content{
    display: grid;
    grid-template-columns: 488px;
    grid-template-rows: 76px 0px 112px 400px;
    text-align: center;
}
.align-content{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.drones-info{
    max-width: 100%;
    background-image:url(/img/our-drones/our-drones-background.webp);
    background-attachment: fixed;
}
.carousel-align{
    display: flex;
    justify-content: center;
}