.striker_drones {
    background-image: url("../img/main_page_drone.png");
    background-size: cover;

}
.strikerdrones__title {
    font-size: 140px;
    text-transform: uppercase;
    color: var(--context-text-color);
    font-family: Fjalla One, sans-serif;
}
.strikerdrones__text {
    font-size: 18px;
    font-family: Lato, sans-serif;
    color: var(--context-text-color);
    font-weight: 400;
}
.strikerdrones__bttn-rent {
    background-color: var(--red-pink);
    border-width: 1px;
    height: 61px;
    width: 156px;
    color: var(--context-text-color);
    font-weight: 400;
    font-size: 13.2px;
    transition-duration: 0.3s;
}
.strikerdrones__bttn-rent:hover {
    background-color: var(--light-green);
}
.strikerdrones__bttn-more {
    background-color: var(--grey);
    border-width: 1px;
    border-color: var(--grey);
    height: 61px;
    width: 156px;
    color: var(--context-text-color);
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 13.2px;
    transition-duration: 0.3s;
}
.strikerdrones__bttn-more:hover {
    background-color: var(--context-text-color);
    color: var(--main-text-color);
}


@media(min-width: 320px) {
    .striker_drones {
        font-size: 16px;
        padding: 24px;
        padding-top: 90px;
    }
    .strikerdrones__title {
        font-size: 64px;
    }
    .strikerdrones__text {
        margin-top: 20px;
    }
    .striker_drones__bttn-container {
        margin-top: 35px ;
        padding-bottom: 90px;
    }
    .strikerdrones__bttn-rent {
        margin: 10px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 31px;
        padding-right: 31px;
    }
    .strikerdrones__bttn-more {
        margin: 10px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 31px;
        padding-right: 31px;
    }
}
