<div class="about">
  <div class="about_container py-5 container h-100 d-flex flex-md-row flex-column justify-content-start align-items-center text-white">
    <div class="drone_img_about h-100">
        <img src="img/about_drone.png" alt="About striker drones image">
    </div>
    <div class="about_content h-100 d-flex flex-column justify-content-between align-items-start">
        <h2 class="about_title">About striker drones</h2>
        <div class="gr_gr_lines d-flex flex-row">
            <div class="green_line"></div>
            <div class="gray_line"></div>
        </div>
        <p>Striker Drones is your opportunity to rent drones in California at competitive prices. Here you will find the widest selection of drones. Expand your horizons with drones from the best brands.</p>
        <span>We offer drones for any photo and video shooting in 4K quality. In addition, here you can rent drones for permanent tracking of a moving object. Striker Drones offers different models of devices with different ranges of signal reception distance - from several tens of meters to 6.5 kilometers.</span>
        <div class="table_statistic mt-4 h-100 flex-column justify-content-between align-items-start">
            <div class="stat_row d-flex mt-2 align-items-center justify-content-between">
                <div class="stat_col_green">58</div>
                <div></div>
                <div class="stat_col_white">Drones Available</div>
            </div>
            <div class="stat_row d-flex mt-2 align-items-center justify-content-between">
                <div class="stat_col_green">19</div>
                <div></div>
                <div class="stat_col_white">Drone Models</div>
            </div>
            <div class="stat_row d-flex mt-2 align-items-center justify-content-between">
                <div class="stat_col_green">2000</div>
                <div></div>
                <div class="stat_col_white">Clients in 2019</div>
            </div>
        </div>


    </div>
  </div>
</div>