<section class="about">
    <span>
        <p>ABOUT STRIKER DRONES</p>
    </span>

    <div class="image__illustration">
        <img style="width: 300px;" src="img/about_drone.png" alt="illustration_drone">
    </div>
    <span>
        <p>Striker Drones is your opportunity to rent drones in California at competitive prices. Here you will find the
            widest selection of drones. Expand your horizons with drones from the best brands.</p>
    </span>

    <span>
        <p>We offer drones for any photo and video shooting in 4K quality. In addition, here you can rent drones for
            permanent tracking of a moving object. Striker Drones offers different models of devices with different
            ranges
            of signal reception distance - from several tens of meters to 6.5 kilometers.</p>
        </p>
    </span>

    <div class="drones__aviable">
        <p>58</p>
        <p>Drones Aviable</p>
    </div>
    <div class="drone__models">
        <p>19</p>
        <p>Drone models</p>
    </div>
    <div class="clients">
        <p>2000</p>
        <p>Clients in 2019</p>
    </div>
</section>