<section class="contacts__container">

	<div class="contacts__container_cover">
		<h2 class="contacts__title">Contacts</h2>
		<div class="contacts__text">
			<p>Drone Striker<br>

				Address<br>
				Surrey Technology Centre,
				<br>
				Surrey Research Park,
				<br>
				Guildford, Surrey GU2 7YG,
				<br>
				United Kingdom <br>
				
				Hours<br>
				Monday - Friday: 11 AM - 9 PM<br>
				Saturday: 11 AM - 7 PM<br>
				
				Contacts<br>
				+1 (234) 567 89 00<br>
				strikerdrones@email.com</p>
		</div>
		<div class="contacts__contact_form_dark">
			<div class="contacts__contact_form_input_text">
				<p>Fullname</p>
			</div>
			<div class="contacts__contact_form_input_text">
				<p>Phone</p>
			</div>
			<div class="contacts__contact_form_input_text">
				<p>Email</p>
			</div>
			<div class="contacts__contact_form_input_text">
				<p>Message</p>
			</div>
			<a href="#" class="contacts__action_button">
				REQUEST A QUOTE</a>
		</div>
		<div class="contacts_image_cover">
			
		</div>
		
	</div>
</section>
