<section class="Drones__Needs">
    <p>Drones for Your Needs</p>
    <article class="Drone__useful">
        <p>
            UAVs have long gone beyond military use. Drones are great for mapping, taking
            photos, and shooting videos from a height without a helicopter, real-time
            tracking, shipping, without taking a single extra step.
        </p>
    </article>
    <article class="StrikerDrones__Best">
        <p>
            Striker Drones offers the best conditions for renting drones. We regularly hold promotions
            and discounts. All drones that you can rent are in excellent technical condition. We carefully
            monitor the health of drones and all components. We have the newest drones with various
            functions that may be useful to you.
        </p>
    </article>
    <article>
        <img src="imgs/GirlsWithDrone.png" alt="GirlsWithDronePicture">
    </article>
</section>
