<div class="drones-needs">
    <div class="text__drones-needs">
        <p class="pre-title__text__drones-needs">Drones for Your Needs</p>
        <img src="img/decorate-red-line.svg" alt="red-line">
        <div class="drone-useful">
            <p>
                    UAVs have long gone beyond military use. Drones are great for mapping, taking
                    photos, and shooting videos from a height without a helicopter, real-time
                    tracking, shipping, without taking a single extra step.
            </p>
        </div>
        <div class="striker-drones-best">
            <p>
                    Striker Drones offers the best conditions for renting drones. We regularly hold promotions
                    and discounts. All drones that you can rent are in excellent technical condition. We carefully
                    monitor the health of drones and all components. We have the newest drones with various
                    functions that may be useful to you.
            </p>
        </div>
            <button href="#" class="button-drone"><span class="button-text">CHOOSE YOUR DRONE</span></button>
    </div>
    <img src="img/girls_and_drone.png" alt="girls-with-drone">
</div>
 
