<section>
    <div class="faq">
        <div class="faq_header">
            <h2 class="faq_title">FAQ</h2>
            <div class="sizing-img-faq"><img src="img/line-green-our-drones.svg" alt="green-line-decorate" class="greenline-under-pic-our-drones"></div>
                <p class="faq_title-text">Do you have any questions? We will be happy to answer them! But first, look at the list of frequently asked questions.</p>
        </div>
        <div class="faq_all_items">
            <div class="faq_item_collum">
                <p class="faq_item_title">How to rent a drone in your company?</p>
                <p class="faq_item_text">It's very easy and takes a couple of minutes. Fill out an application on our website or contact us directly and specify which device you need.</p>
             </div> 
            <div class="faq_item_collum">
                <p class="faq_item_title">Can I reserve the chosen drone for a specific date?</p>
                <p class="faq_item_text">Of course. Our manager will contact you. You can specify the date and time, and your drone will be waiting for you.</p>
            </div>  
            <div class="faq_item_collum">
                <p class="faq_item_title">I don’t know which drone I need. Will you help me choose?</p>
                <p class="faq_item_text">Our experts will tell you which drones are best suited for your purposes. Tell us what you need a drone for, and we will find the best option.</p>
            </div>
            <div class="faq_item_collum">
                <p class="faq_item_title">What is the minimum rental period?</p>
                <p class="faq_item_text">The minimum rental period for a drone is 1 week. After the end of this period, you can keep on renting or cancel the subscription.</p>
            </div>
            <div class="faq_item_collum">
                <p class="faq_item_title">How and when do I pay for the drone rental?</p>
                <p class="faq_item_text">Before you pick up a drone at our office, you must pay in full. You can pay for our services in cash or by credit card.</p>
            </div>
            <div class="faq_item_collum">
                <p class="faq_item_title">What if there will appear any signs of use on the drone?</p>
                <p class="faq_item_text">We want you to enjoy using drones products as though they were yours. We will clean small scratches and signs of use for free.</p>
             </div>
        </div>
    </div>
</section>
