<section class="footer">
    <div class="footer_table">
        <div class="footer_logo">
            <img src="img/logotype.png" alt="logotype drones">  
        </div>
        <hr>
        <ul>
            <li>About us</li>
            <li>Drones</li>
            <li>Gallery</li>
            <li>Testmonials</li>
            <li>Contact us</li>
        </ul>

    </div>  
    <!-- <div class="footer_divider"></div> -->
    <hr>
    <div class="footer_bottom">
        <div class="footer_bottom_col1">
            <span>All rights Reserved</span>
        </div>
        <div class="footer_bottom_col2">

        </div>
        <div class="footer_bottom_col3">
            <span>© Created by</span>
        </div>
    </div>    
</section>