<section class="footer">
    <footer class="page-footer">
        <div>
            <p>
                <br>
                Drone Striker
                <br>
                Surrey Technology Centre,
               <br>
                Surrey Research Park,
               <br>
                Guildford, Surrey GU2 7YG,
                <br>
                 United Kingdom 
                 <br>
                 </p>
                 <p>
                    <br>
                    <a href="#">t. +44 (0) 1483 684814</a>
                    <br>
                    <a href="#">e. contact@evolvedynamics.com</a>
                     </p>
                     <p>© 2023. All Rights Reserved.</p>
             
            </div>
            
    </footer>
</section>