
    <div id="gallery" class="products">
      <div class="animated-carousel">
        <div class="animated-carousel__inner">
            <article class="product-card">
              <img src="img/gallery/gallery_car.png" alt="car">
            </article>
            <article class="product-card">
              <img src="img/gallery/gallery_fortress.jpg" alt="fortress">
            </article>
            <article class="product-card">
              <img src="img/gallery/gallery_boat.png" alt="boat">
            </article>
            <article class="product-card">
                <img src="img/gallery/gallery_people.png" alt="people">
            </article>
            <article class="product-card">
                <img src="img/gallery/gallery_yachts.jpg" alt="yachts">
            </article>            
        </div>
        <button class="carousel__button carousel__button--prev">
          <img src="img/gallery/left-arrow.png" alt="left arrow">
        </button>
        <button class="carousel__button carousel__button--next">
          <img src="img/gallery/right-arrow.png" alt="right arrow">
        </button>
      </div>
    </div>
