<section class="gallery__container">

    <div class="gallery_images_item">
        <!-- <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/gallery/gallery_boat.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/gallery/gallery_car.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/gallery/gallery_people.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/gallery/gallery_fortress.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div> -->
    
        
      <!-- start From codepen  >>>>   Create your own class for the containing div -->
      <div class="slick-carousel">
        <!-- Inside the containing div, add one div for each slide -->
        <div>
          <!-- You can put an image or text inside each slide div -->
          <img src="img/gallery/gallery_boat.png" alt="boat">
        </div>
        <div>
          <img src="img/gallery/gallery_car.png" alt="car">
        </div>
        <div>
          <img src="img/gallery/gallery_people.png" alt="people">
        </div>

      </div>
      <!-- end From codepen--> 

    </div>
</section>