<header class="header">
    <div class="header__logo-container">
        <img width="122" height="auto" alt="logo" class="logo-image_HXE image-logo_cI-" loading="lazy" data-src="https//res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebbf2c540e3dd002156f44f" data-component="logo" src="//res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebbf2c540e3dd002156f44f?nowebp" data-was-processed="true">
    </div>
    <nav class="header__nav">
        <a href="#about" class="header__nav-item">About us</a>
        <a href="#drones" class="header__nav-item">Drones</a>
        <a href="gallery.partial.html" class="header__nav-item">Gallery</a>
        <a href="#testimonials" class="header__nav-item">Testimonials</a>
        <a href="#contacts" class="header__nav-item">Contacts us</a>
    </nav>
</header>