<header class="header">
    <div class="header__logo-container">
      <img src="img/drone-logo.svg" alt="Drone Logo">  
        <img width="37" height="37" alt="logo" src="img/striker_logo.svg">
    </div>
    <nav class="header__nav">
        <a href="#" class="header__nav-item">About us</a>
        <a href="#" class="header__nav-item">Drones</a>
        <a href="#" class="header__nav-item">Gallery</a>
        <a href="#" class="header__nav-item">Testimonials</a>
        <a href="#" class="header__nav-item">Contacts us</a>
    </nav>
</header>