<header class="header">
  <div class="head_container container ">
    <nav class="navbar navbar-expand-md bg-black ">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a href="index.html"><img src="img/drone-logo.svg" alt="Logo"></a>
        </div>
        <button class="navbar-toggler collapsed " type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="toggler-icon top-bar"></span>
          <span class="toggler-icon middle-bar"></span>
          <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link menu_item" href="#about_drones">About us</a>
            <a class="nav-link menu_item" href="#">Drones</a>
            <a class="nav-link menu_item" href="#gallery">Gallery</a>
            <a class="nav-link menu_item" href="#">Testimonials</a>
            <a class="nav-link menu_item" href="#contacts">Contacts us</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>