<div class="drones-info">
    <div class="main-part__drones-info">
        <div class="align-content">
            <div class="our-drones-content">
                <p class="title-our-drones">OUR DRONES</p>
                <img src="img/line-green-our-drones.svg" alt="green-line-decorate">
                <p class="after-title-text">Want to see more models? Contact us, send a request or drop by our office in San Jose. </p>
                <div class="grid-align">
                    <div class="carousel-align">
                        <div class="carousel-slides"></div>
                    </div>
                    <button type="button" class="right-arrow"><div class="click-zone"></div><svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1685741027029"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1685741027029"></use></svg></button>
                    <button type="button" class="left-arrow"><div class="click-zone"></div><svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1685741027029"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1685741027029"></use></svg></button>
                    <ul class="list-green">
                        <li><button class="green-circle green-circle-first-slide"></button></li>
                        <li><button class="green-circle green-circle-second-slide"></button></li>
                        <li><button class="green-circle green-circle-third-slide"></button></li>
                        <li><button class="green-circle green-circle-fourth-slide"></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>