<div class="drones-info">
    <div class="main-part__drones-info">
        <div class="align-content">
            <div class="our-drones-content">
                <p class="title-our-drones">OUR DRONES</p>
                <div class="sizing-img-our-drones"><img src="img/line-green-our-drones.svg" alt="green-line-decorate" class="greenline-under-pic-our-drones"></div>
                <p class="after-title-text">Want to see more models? Contact us, send a request or drop by our office in San Jose. </p>
            </div>
            <div class="carousle-our-drones">
                <button type="button" class="left-arrow"><div class="click-zone"></div><svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1685741027029"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1685741027029"></use></svg></button>
                
                    <div class="carousel-slides">
                        <div class="slider-our-drones">
                            <div class="margin-righ">
                                <div class="elements-under-drone-pic">
                                    <img src="./img/our-drones/dji-mavik-zoom.png" alt="dji-mavik-zoom_Pic" class="drone-pic">
                                    <span class="text-under-pic">
                                        <span class="drone-name">DJI MAVIC 2 ZOOM</span>
                                        <span class="drone-price-rent">from $120/mo.</span>
                                    </span>
                                    <img src="./img/our-drones/green-line-deco.svg" alt="" class="green-line-under-pic-our-drones">
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button collapsed btn-for-anim" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                            <div class="open-characteristics">
                                                <div class="align-stick-hor">
                                                    <span class="stick-hor">—</span>
                                                    <div class="align-stick-ver"><span class="stick-ver">|</span></div>
                                                </div>
                                                <div class="characteristic">
                                                    <span>Characteristics</span>
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body characteristics-text">
                                            <div class="margin-characteristics">
                                                <span class="weight">Weight:</span>
                                            </div>
                                            <span>905 g</span>
                                            <div class="margin-characteristics">
                                                <span class="speed">Max.speed:</span>
                                            </div>
                                            <span>72km/h(S-mode)</span>
                                            <div class="margin-characteristics">
                                                <span class="battery">Battery:</span>
                                            </div>
                                            <span>13830mAh</span>
                                            <div class="margin-characteristics">
                                                <span class="resolution">Max. resolution:</span>
                                            </div>
                                            <span>12MP</span>
                                            <div class="margin-characteristics">
                                                <span class="flight-time">Max, flight time:</span>
                                            </div>
                                            <span>31 minutes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-righ">
                                <div class="elements-under-drone-pic">
                                    <img src="./img/our-drones/dji-mavik-pro.png" alt="dji-mavik-zoom_Pic" class="drone-pic">
                                    <span class="text-under-pic slide-second-drones">
                                        <span class="drone-name">DJI MAVIC 2 PRO</span>
                                        <span class="drone-price-rent">from $120/mo.</span>
                                    </span>
                                    <img src="./img/our-drones/green-line-deco.svg" alt="" class="green-line-under-pic-our-drones">
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            <div class="open-characteristics">
                                                <div class="align-stick-hor">
                                                    <span class="stick-hor">—</span>
                                                    <div class="align-stick-ver"><span class="stick-ver">|</span></div>
                                                </div>
                                                <div class="characteristic">
                                                    <span>Characteristics</span>
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body characteristics-text">
                                            <div class="margin-characteristics">
                                                <span class="weight">Weight:</span>
                                            </div>
                                            <span>907 g</span>
                                            <div class="margin-characteristics">
                                                <span class="speed">Max.speed:</span>
                                            </div>
                                            <span>72km/h(S-mode)</span>
                                            <div class="margin-characteristics">
                                                <span class="battery">Battery:</span>
                                            </div>
                                            <span>3850mAh</span>
                                            <div class="margin-characteristics">
                                                <span class="resolution">Max. resolution:</span>
                                            </div>
                                            <span>20MP</span>
                                            <div class="margin-characteristics">
                                                <span class="flight-time">Max, flight time:</span>
                                            </div>
                                            <span>31 minutes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-righ">
                                <div class="elements-under-drone-pic">
                                    <img src="img/our-drones/gopro-karma.png" alt="dji-mavik-zoom_Pic" class="drone-pic karma-pro">
                                    <span class="text-under-pic slide-third-drones">
                                        <span class="drone-name">GOPRO KARMA DRONE</span>
                                        <span class="drone-price-rent">from $110/mo.</span>
                                    </span>
                                    <img src="./img/our-drones/green-line-deco.svg" alt="" class="green-line-under-pic-our-drones">
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            <div class="open-characteristics">
                                                <div class="align-stick-hor">
                                                    <span class="stick-hor">—</span>
                                                    <div class="align-stick-ver"><span class="stick-ver">|</span></div>
                                                </div>
                                                <div class="characteristic">
                                                    <span>Characteristics</span>
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body characteristics-text">
                                            <div class="margin-characteristics">
                                                <span class="weight">Weight:</span>
                                            </div>
                                            <span>1.95 kg</span>
                                            <div class="margin-characteristics">
                                                <span class="speed">Max.speed:</span>
                                            </div>
                                            <span>56km/h(S-mode)</span>
                                            <div class="margin-characteristics">
                                                <span class="battery">Battery:</span>
                                            </div>
                                            <span>5100mAh</span>
                                            <div class="margin-characteristics">
                                                <span class="resolution">Max. resolution:</span>
                                            </div>
                                            <span>12.1MP</span>
                                            <div class="margin-characteristics">
                                                <span class="flight-time">Max, flight time:</span>
                                            </div>
                                            <span>20 minutes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-righ">
                                <div class="elements-under-drone-pic">
                                    <img src="./img/our-drones/dji-mavik-air.png" alt="dji-mavik-zoom_Pic" class="drone-pic">
                                    <span class="text-under-pic slide-fourth-drones">
                                        <span class="drone-name">DJI MAVIK AIR</span>
                                        <span class="drone-price-rent">from $90/mo.</span>
                                    </span>
                                    <img src="./img/our-drones/green-line-deco.svg" alt="" class="green-line-under-pic-our-drones">
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                            <div class="open-characteristics">
                                                <div class="align-stick-hor">
                                                    <span class="stick-hor">—</span>
                                                    <div class="align-stick-ver"><span class="stick-ver">|</span></div>
                                                </div>
                                                <div class="characteristic">
                                                    <span>Characteristics</span>
                                                </div>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                        <div class="accordion-body characteristics-text">
                                            <div class="margin-characteristics">
                                                <span class="weight">Weight:</span>
                                            </div>
                                            <span>430 g</span>
                                            <div class="margin-characteristics">
                                                <span class="speed">Max.speed:</span>
                                            </div>
                                            <span>68.4km/h</span>
                                            <div class="margin-characteristics">
                                                <span class="battery">Battery:</span>
                                            </div>
                                            <span>2375mAh</span>
                                            <div class="margin-characteristics">
                                                <span class="resolution">Max. resolution:</span>
                                            </div>
                                            <span>12MP</span>
                                            <div class="margin-characteristics">
                                                <span class="flight-time">Max, flight time:</span>
                                            </div>
                                            <span>21 minutes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <button type="button" class="right-arrow"><div class="click-zone"></div><svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1685741027029"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1685741027029"></use></svg></button>
            </div>
            <ul class="list-green">
                <li><button class="green-circle green-circle-first-slide"></button></li>
                <li><button class="green-circle green-circle-second-slide"></button></li>
                <li><button class="green-circle green-circle-third-slide"></button></li>
                <li><button class="green-circle green-circle-fourth-slide"></button></li>
            </ul>
        </div>
    </div>
</div>