<div class="drones-info">
    <div class="main-part__drones-info">
        <div class="align-content">
            <div class="our-drones-content">
                <p class="title-our-drones">OUR DRONES</p>
                <img src="img/line-green-our-drones.svg" alt="green-line-decorate">
                <p class="after-title-text">Want to see more models? Contact us, send a request or drop by our office in San Jose. </p>
                <div class="carousel-align">
                    <div class="carousel-slides">
                        <img src="./img/our-drones/dji-mavik-zoom.png" alt="dji-mavik-zoom_Pic" class="drone-pic">
                        <span class="text-under-pic">
                            <span class="drone-name">DJI MAVIK AIR</span>
                            <span class="drone-price-rent">from $90/mo</span>
                        </span>
                        <img src="./img/our-drones/green-line-deco.svg" alt="">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    <div class="open-characteristics">
                                        <div class="align-stick-hor">
                                            <span class="stick-hor">—</span>
                                            <div class="align-stick-ver"><span class="stick-ver">|</span></div>
                                        </div> 
                                        <div class="characteristic">
                                            <span>Characteristics</span>
                                        </div>
                                    </div>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                  <div class="accordion-body characteristics-text">
                                    <span class="weight">Weight:</span>
                                    <span>907 g</span>
                                    <span class="speed">Max.speed:</span>
                                    <span>72km/h(S-mode)</span>
                                    <span class="battery">Battery:</span>
                                    <span>3850mAh</span>
                                    <span class="resolution">Max. resolution:</span>
                                    <span>20MP</span>
                                    <span class="flight-time">Max, flight time:</span>
                                    <span>31 minutes</span>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>