<section class="rent">
    <div class="rent__background-image">
        <div class="rent__want-to-rent-a-drone">
            <div class="rent__text-container">
                <span class="rent__headline">WANT TO RENT A DRONE?</span>
                <span class="rent__offer">Book your drone for rent right now by filling out the form and get a
                    10% discount!&nbsp;</span>
            </div>
            <div class="rent__button">
                <div class="rent__button-color"><a href="#">Rent a drone</a>
                </div>
            </div>
        </div>
    </div>
</section>