<section class="rent">
    <div id="rent" class="rent__want-to-rent-a-drone">
        <div class="rent__text-container">
            <span class="rent__headline"><b>WANT TO RENT A DRONE?</b></span>
            <div class="rent__lines">
                <span class="rent__line-current"></span>
                <span class="rent__line-next"></span>
            </div>
            <span class="rent__offer">Book your drone for rent right now by filling out the form and get a
                10% discount!&nbsp;</span>
            <div class="rent__button">
                <div class="rent__button-color"><a href="#"><b>RENT A DRONE</b></a>
                </div>
            </div>
        </div>
    </div>
</section>