<section class="striker_drones">
    <p class="strikerdrones__title">Striker<br>Drones</p>
    <p class="strikerdrones__text">Reliable drone rental in California.</p>
        <div>
            <button href="#" class="strikerdrones__bttn-rent"><span strikerdrones__bttn-rent-text>RENT A DRONE</span></button>
        </div>
            <div> 
                <button href="#" class="strikerdrones__bttn-more"><span strikerdrones__bttn-more-text>LEARN MORE</span></button>
            </div>      
</section>