<section class="striker_drones">
    <h2 class="strikerdrones__title">Striker<br>Drones</h2>
    <p class="strikerdrones__text">Reliable drone rental in California.</p>
    <div class="strikerdrones__bttn-rent">
        <nav>
            <a href="#">RENT A DRONE</a>
        </nav>
    </div>
    <div class="strikerdrones__bttn-more">
        <nav>
            <a href="#">LEARN MORE</a>
        </nav>
    </div>
    <div class="strikerdrones__background">
        <img src="img/main_page_drone.png" alt="main_page_background" width=300>
    </div>
</section>