<section class="striker_drones ">
    <div class="container">
        <div class="striker_drones__container container">
            <p class="striker_drones__title">STRIKER</br>DRONES</p>
            <div class="striker_drones__greenline">
                <img src="img/main_page_greenline.svg" alt="green-line">
            </div>
            <p class="striker_drones__text">Reliable drone rental in California.</p>
            <div class="striker_drones__bttn-container">
                <div>
                    <button href="#" class="striker_drones__bttn-rent"><span class="striker_drones__bttn-rent-text">RENT
                            A DRONE</span></button>
                </div>
                <div>
                    <button href="#" class="striker_drones__bttn-more"><span
                            class="striker_drones__bttn-more-text">LEARN MORE</span></button>
                </div>
            </div>
        </div>
    </div>
</section>