<section class="testimonials d-flex align-items-center">
	<div class="test_column container my-5">
		<div class="row ">
		  <div class="col-md-6 px-0">
			<img src="./img/sky.png" alt="sky" class="test_img slide-1 active">
			<img src="./img/water.png" alt="water" class="test_img slide-2">
			<img src="./img/man.png" alt="man" class="test_img slide-3">
		  </div>
		  <div class="col-md-6 px-0 ">
			<div class="test_white_col h-100">
			  <h2 class="test_title">OUR CUSTOMERS SAY</h2>
			  <p class="test_text slide-1 active">Due to my work, I periodically need a drone. I use it 1-2 times a week.
				At first, I thought about buying a drone but I realized that it was very expensive. Striker Drones helped me out with
				this. I can always rent	a necessary drone from an impressive rental fleet.</p>
			  <p class="test_name slide-1 active">Andrew Jackson</p>
			  <p class="test_text slide-2">I run a Youtube channel. I was thinking about buying a drone, but then
				I realized that it was unprofitable. Renting a drone at Striker Drones is much more convenient and
				cheaper. The quality of the video shot on drone cameras is always excellent.</p>
			  <p class="test_name slide-2">Dan Holmes</p>
			  <p class="test_text slide-3">I have already used the drone rental services at Striker Drones 10
				times. They have a large selection of devices necessary for my purposes. In addition, they offer
				very pleasant rates, and you can always extend your drone rental by as much as you need.</p>
			  <p class="test_name slide-3">Mike Felps</p>
			  <div class="test_points d-flex align-items-center justify-content-center">
				<div class="test_round active slide-1"></div>
				<div class="test_round slide-2"></div>
				<div class="test_round slide-3"></div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</section>